/* Importing the font from Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* Setting default styles for all elements */
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Setting background and aligning items in the body */
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

/* Setting wrapper styles */
.wrapper{
  width: 600px;
  background: #fff;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

/* Setting the styles for the input*/
.wrapper .input-data{
  height: 40px;
  width: 100%;
  position: relative;
}

/* Setting the styles for the input fields*/
.wrapper .input-data input{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
}

/* Setting the styles for the label*/
.input-data input:focus ~ label,
.input-data input:valid ~ label{
  transform: translateY(-35px);
  font-size: 15px;
  color: #4158d0;
}

/* Setting the styles for the label*/
.wrapper .input-data label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}

/* Setting the styles for the underline*/
.input-data .underline{
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}

/* Setting the styles for the underline*/
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #4158d0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.wrapper .input-data{
  margin-bottom: 50px;
}

/* Setting the styles for the underline*/
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before{
  transform: scaleX(1);
}

.title {
  text-align: left;
  margin-top: 50px;
  font-size: 46px;
  color: #000;
}


.title {
  text-align: center;
  padding: 1em;
  }
  
  /* Make the animation word bold and bigger */
  .animated-word {
  font-weight: bold;
  font-size: 2em;
  }

  .title:before {
    content: "True Cost";
    animation: change-word 12s linear infinite;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes change-word {
    0% {content: "Learn how to save money";}
    25% {content: "Financial Buddy";}
    50% {content: "Be responsible with your earnings";}
    100% {content: "Be prepared";}
  
  }
  
