/* Importing the font from Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* Setting default styles for all elements */
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Setting background and aligning items in the body */
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

/* Setting wrapper styles */
.wrapper{
  width: 100%;
  border-radius: 30px;
  max-width: 420px;
  margin: 1em;
  padding: 2em;
  color: white;
  background: rgba(0,0,0,.80);
  padding: 30px;
}

/* Setting the styles for the input fields*/
.wrapper .input-data{
  height: 40px;
  width: 100%;
  position: relative;
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
/* Setting the styles for the input fields*/
.wrapper .input-data input{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
}

/* Setting the styles for the label*/
.input-data input:focus ~ label,
.input-data input:valid ~ label{
  transform: translateY(-20px);
  font-size: 15px;
  color: #4158d0;
}

/* Setting the styles for the label*/
.wrapper .input-data label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}

/* Setting the styles for the underline*/
.input-data .underline{
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}

/* Setting the styles for the underline*/
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #4158d0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.wrapper .input-data{
  margin-bottom: 20px;
}

/* Setting the styles for the underline*/
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before{
  transform: scaleX(1);
}